Makefile*
*.user
*.o
moc_*
*.pdb
examples/ExplicitlySharedData/ExplicitlySharedData
examples/ImplicitlySharedData/ImplicitlySharedData
tests/QtPolymorphicExplicitSharedType/tst_QtPolymorphicExplicitSharedType
tests/QtPolymorphicImplicitSharedType/tst_QtPolymorphicImplicitSharedType
debug/
release/
